<section class="cart-area section--padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">

                <div class="card card-item">

                    <div class="card-body">

                        <h3 class="card-title fs-22 pb-3">Teacher Profile Details</h3>

                        <div class="divider"><span></span></div>


                        <form method="post" class="row">
                            
                          <div class="input-box col-lg-6">
                                <label class="label-text">First Name</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="text" name="name" placeholder="userName">
                                    <span class="la la-user input-icon"></span>
                                </div>
                            </div>

                            <div class="input-box col-lg-6">
                                <label class="label-text">Last Name</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="text" name="email" placeholder="userName">
                                    <span class="la la-user input-icon"></span>
                                </div>
                            </div>


                            <div class="input-box col-lg-12">
                              <label class="label-text">Username</label>
                              <div class="form-group">
                                  <input class="form-control form--control" type="text" name="Username" placeholder="userName">
                                  <span class="la la-user input-icon"></span>
                              </div>
                            </div>

                            <div class="input-box col-lg-12">
                                <label class="label-text">Email Address</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="email" name="email" placeholder="userName@gmail.com">
                                    <span class="la la-envelope input-icon"></span>
                                </div>
                            </div>

                            <div class="input-box col-lg-12">
                                <label class="label-text">Phone Number</label>
                                <div class="form-group">
                                    <input id="phone" class="form-control form--control" type="tel" name="phone">
                                </div>
                            </div>

                            
                            <div class="input-box col-lg-12">
                                <label class="label-text">Address</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="text" name="text" placeholder="e.g. 12345 Little Baker St, Melbourne">
                                    <span class="la la-map-marker input-icon"></span>
                                </div>
                            </div>

                            <div class="input-box col-lg-12">
                                <label class="label-text">Code prof</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="text" name="code_prof" placeholder="cod01">
                                    <span class="la la-globe input-icon"></span>
                                </div>
                            </div>
                            

                            <div class="input-box col-lg-12">
                              <label class="label-text">Specialite</label>
                              <div class="form-group">
                                <textarea class="form-control form--control pl-3" name="specialite" rows="4" placeholder="Specialite"></textarea>
                              </div>
                            </div>

                      

                              <div class="btn-box border-top border-top-gray pt-3 col-lg-12">
                                  <a class="btn theme-btn w-100">Update <i class="la la-arrow-right icon ml-1"></i></a>
                              </div>
                          

                        </form>
                    </div>
                </div>
             
            </div>
      
        </div>
    </div>
</section>