<section class="cart-area section--padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">

                <div class="card card-item">

                    <div class="card-body">

                        <h3 class="card-title fs-22 pb-3">Ajouter</h3>

                        <div class="divider"><span></span></div>


                        <form class="row" #uploadForm (ngSubmit)="onSubmit()">


                        <div class="col-lg-12">
                            <label class="label-text">Titre du fichier PDF</label>
                            <div class="form-group">
                                <input class="form-control form--control pl-3" type="text" name="title" placeholder="Titre du fichier PDF"  [(ngModel)]="pdfTitle" required>
                            </div>
                        </div>
                        

                        <div class="col-lg-12">
                          <label class="label-text">Description</label>
                          <div class="form-group">
                            <textarea class="form-control form--control pl-3" name="description" rows="4" placeholder="Description" [(ngModel)]="description"></textarea>
                          </div>
                        </div>
                        
            
                          <!-- <div class="col-lg-12">
                              <label class="label-text">Code prof</label>
                              <div class="form-group">
                                  <input class="form-control form--control pl-3" type="text" name="code_prof" placeholder="cod01">
                              </div>
                          </div> -->

                          <div class="col-lg-12">
                            <label class="label-text">Nom de la matière</label>
                            <div class="form-group">
                              <select class="form-control form--control pl-3" name="nomMatiere" [(ngModel)]="nomMatiere" required>
                                <option *ngFor="let matiereName of matiereNames" [value]="matiereName">{{ matiereName }}</option>
                              </select>
                            </div>
                        </div>

                     
                          
                          <div class="col-lg-12">
                            <label class="label-text">Sélectionner un fichier PDF</label>
                             <div class="form-group">
                                   <div class="file-upload-wrap file-upload-wrap-2 file--upload-wrap">
                                     <input type="file" (change)="onFileSelected($event)" accept=".pdf"  class="multi file-upload-input">
                                     <span class="file-upload-text"><i class="la la-upload mr-2"></i>Upload a course</span>
                                   </div>
                             </div>
                         </div>

                            <div class="btn-box border-top border-top-gray pt-3 col-lg-12">
                                <button type="submit" [disabled]="!uploadForm['valid']" class="btn theme-btn w-100">Ajouter <i class="la la-arrow-right icon ml-1"></i></button>
                            </div>
                        

                        </form>
                    </div>
                </div>
             
            </div>
      
        </div>
    </div>
</section>
  