<section class="category-area pb-90px">
    <div class="container">

        <div class="row align-items-center">
           
            <div class="col-lg-9 mt-4">
                <div class="category-content-wrap">
                    <div class="section-heading">
                        <h2 class="section__title">Matières</h2>
                        <span class="section-divider"></span>
                    </div>
                </div>
            </div>
           
        </div>

        <div class="category-wrapper mt-30px">
            <div class="row">
                <div class="col-lg-4 responsive-column-half" *ngFor="let cs of matieres">

                    <div class="category-item">
                        <img  class="cat__img lazy" [src]="!!cs.image ? cs.image : 'assets/imgmatiere.jpeg'" alt="Category image">
                        <div class="category-content">
                            <div class="category-inner">
                                <h3 class="cat__title"><a [routerLink]="['/matiere', cs.name, 'listCours']" >{{ cs.name }}</a></h3>
                                <p class="cat__meta">{{ cs.description }}</p>
                                <a [routerLink]="['/matiere', cs.name, 'listCours']" class="btn theme-btn theme-btn-sm theme-btn-white">Explore<i class="la la-arrow-right icon ml-1"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div> 
        </div>


    </div>
</section>

